#user-profile {
  position: relative;
  z-index: -1;
  top: 100px;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: sandybrown;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  
  p {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 1.1em;
  }
}


@media (min-width: 1024px) {
  #user-profile {
    width: 100%;
    min-width: 25vw;
    max-width: 30vw;;
    margin: 2em 1em 1em 1em;

    img {
      padding-top: 25px;
    }
  }
}