$bg-blue: #4056A1;

nav {
  height: 120px;
  width: 100%;
  background-color: $bg-blue;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  span {
    font-family: 'Bungee', cursive;
    padding: 1.5em;
  }
}


i {
  color: red;
}


#logo {
  font-size: 1.0em;
}

#write-new-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#write-new-text {
  font-family: sans-serif;
}