.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  font-size: 18px;
  color: #545149;
  background-color: #f4f1ec;
  margin-bottom: 1em;
}

.new-tweet h2 {

  color: #545149;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  
}

form textarea {
  font-size: 16px;;
  color: #75736d;
  background-color: #f4f1ec;
  border: 0px;
  border-bottom-color: #545149;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

form div {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

form div button {
  background-color: #4056A1;
  color: white
}

.error {
  background: #fff0f4; 
  color: #c51244;
  border: solid #c51244 
}


.error-message {
  background: #c51244;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 5px;
  margin-top: 0px;
}