article.tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #545149;
  border: solid #545149;
  margin-top: 1em;
  font-family: 'Source Sans Pro', sans-serif;

  header {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .avatar {
    height: 75%;
    margin-right: 1em;
  }

  .display-name {
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .handle {
    color: #c5cbe3;
    font-weight: 600;
  }

  p {
    width: 90%;
    padding-bottom: 1em;
    font-size: 20px;
  }

  .separator {
    width: 95%;
    border-bottom: solid;
    align-self: center;
  }

  footer {
    font-size: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    .icons {
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin-top: 1em;
      margin-bottom: 2em;
    }
  }

}

article.tweet:hover {
  box-shadow: 3px 3px;
}

.icons i {
  color: #4056A1;
  margin: 0 0.2em;
}

.icons i:hover {
  color: #c7982b;
}